<!-- bio.css -->


body {
  font-family: "Helvetica";
  font-size: 18px;
  font-weight: 100;
  background: linear-gradient(to bottom, #006699 0%, #ffffcc 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
