body {
  font-family: "Helvetica";
  font-size: 18px;
  font-weight: 100;
}



h1 {
  text-align: center;
  font-style: italic;
  font-size: 80px;
  font-weight: 100;
  color: black;
  letter-spacing: 18px;
  word-spacing: 35px;
  cursor: default;
}

ul {
  list-style-type: none;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
}

li {
  float: left;
}

li a {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  padding: 40px 60px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid silver;
}

li a:link {
  background-color: silver;
  color: white;
}

li a:visited {
  background-color: silver;
  color: white;
}

li a.left:hover {
  border-left: 1px solid silver;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: white;
  color: grey;
  cursor: default;
}

li a.right:hover {
  border-right: 1px solid silver;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: white;
  color: grey;
  cursor: default;
}

li a:active {
  background-color: grey;
  color: white;
}

